#hero-image {
  height: 50vh;

  background-image: url(../ASSETS/Images/pexels-pixabay-159832.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cards + .cards {
  margin-top: 1rem;
}

.cards {
  text-align: center;
  font-size: 0.75rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.cards:nth-child(even) {
  flex-direction: row-reverse;
}

.cards > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 40vh;
}

.card-image-container {
  background-image: url(../ASSETS/Images/card-image-1.jpg);
  background-position: bottom;
  background-size: cover;
}

.card-description {
  background-color: var(--dark-bg-muted);
}

.card-button {
  margin-top: 1rem;
  padding: 0.25rem 0.5rem;
  background: none;
  color: var(--accent-color);
}

/* #immigration-show-more {
  padding: 1em 0em;
  transition: height 0.25s ease-in-out;
}

#immigration-show-more.closed {
  height: 0;
  padding: 0;
  overflow: hidden;
} */

@media (max-width: 576px) {
  .cards {
    flex-direction: column;
  }
  .cards:nth-child(even) {
    flex-direction: column;
  }
}
