#hero-image {
  height: 50vh;

  background-image: url(../ASSETS/Images/main-hero-image.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cards + .cards {
  margin-top: 1rem;
}

.cards {
  text-align: center;
  font-size: 0.75rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.cards:nth-child(even) {
  flex-direction: row-reverse;
}

.cards > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 40vh;
}

.card-description {
  background-color: var(--dark-bg-muted);
}

.card-button {
  margin-top: 1rem;
  padding: 0.25rem 0.5rem;
  background: none;
  color: var(--accent-color);
}

.immigration-card::after {
  content: "";
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#immigration-show-more .card-container > * {
  max-width: 400px;
  height: 350px;
}

@media (max-width: 576px) {
  .cards {
    flex-direction: column;
  }
  .cards:nth-child(even) {
    flex-direction: column;
  }
}
