:root {
  box-sizing: border-box;

  --dark-bg-color-fallback: #232526;
  --dark-bg-color-1: #171717;
  --dark-bg-color-2: #0f0f0f;
  --dark-bg-muted: rgb(146, 146, 146, 0.075);

  --light-bg-color-fallback: #ece9e6;
  --light-bg-color-1: #ece9e6;
  --light-bg-color-2: #ffffff;

  --font-color: rgb(218, 218, 218);
  --accent-color: #dcc869;
  --accent-color-muted: #ebe3bf;
}

@font-face {
  font-family: myFirstFont;
  src: url(../ASSETS/Fonts/Helvetica\ Neue\ LT\ 43\ Light\ Extended.ttf);
}

a:not(.normal) {
  text-decoration: none;
  color: var(--font-color);
}

a:visited {
  text-decoration: none;
  color: var(--font-color);
}

a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

a:active {
  text-decoration: none;
  color: var(--accent-color);
}

h1,
.h1,
h2,
.h2 {
  font-weight: 900;
  margin: 0;
  margin-bottom: 1rem;
}

h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h1,
.h1 {
  font-size: 1.75rem;
}

h2,
.h2 {
  font-size: 1.5rem;
}

h3,
.h3 {
  font-size: 1.25rem;
}

h4,
.h4 {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

body {
  color: var(--font-color);
  font-family: myFirstFont;
  font-size: 14px;

  background: var(--main-bg-color-fallback); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--dark-bg-color-1),
    var(--dark-bg-color-2)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--dark-bg-color-1),
    var(--dark-bg-color-2)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-light {
  color: var(--dark-bg-color-fallback);
  background: var(--light-bg-color-fallback); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--light-bg-color-1),
    var(--light-bg-color-2)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--light-bg-color-1),
    var(--light-bg-color-2)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.accent-border-bottom {
  border: none;
  border-bottom: 2px solid var(--accent-color);
}

.bi-facebook:hover {
  color: #4267b2;
}

.bi-instagram:hover {
  color: #fb3958;
}

.bi-twitter:hover {
  color: #1da1f2;
}

.wrapper {
  padding: 3em 0em;
  width: 100%;
}

.container-sm {
  max-width: 850px;
}

.main-title {
  padding-bottom: 0.75em;
  border-bottom: 2px solid var(--accent-color);
}
#navbar {
  padding: 1.75em 0em;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-items {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.nav-links__primary,
.nav-links__socials {
  list-style-type: none;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.nav-links__primary > * > *,
.nav-links__socials > * > * {
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.nav-links__logo {
  pointer-events: none;
}

.nav-logo {
  pointer-events: all;
  min-width: 15%;
  max-width: 120px;
}

.menu-btn {
  position: relative;
  float: right;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-btn-burger {
  width: 40px;
  height: 4px;
  background: white;
  border-radius: 8px;
  transition: 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: white;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-15px);
}

.menu-btn-burger::after {
  transform: translateY(15px);
}

/*animations*/

.menu-btn.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

#footer {
  font-size: 0.75rem;
}

#footer .footer-middle {
  margin-top: 3rem;
  text-align: center;
}

@media (min-width: 577px) {
  .menu-btn,
  .opacity-screen {
    display: none;
  }
}

@media (max-width: 577px) {
  .header {
    padding: 0.5em 0em;
    flex-direction: column-reverse;
  }
  .main-title {
    padding-bottom: 0em;
    padding-top: 0.75em;
    border-bottom: none;
  }
  .nav-items {
    border-bottom: 2px solid var(--accent-color);
  }
  .opacity-screen {
    height: 100vh;
    width: 25%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--dark-bg-color-1);
    opacity: 0.25;

    transition: all 0.5s ease-in-out;
  }

  .nav-links__burger {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 75%;
    background-color: var(--dark-bg-color-1);

    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.75s ease-in-out;
  }

  .nav-links__burger.closed {
    transform: translateX(100vw);
  }

  .nav-links__primary {
    flex-direction: column;
    gap: 2em;
  }

  .nav-links__burger > ul {
    padding-left: 0;
  }
}
