:root {
  box-sizing: border-box;

  --dark-bg-color-fallback: #232526;
  --dark-bg-color-1: #171717;
  --dark-bg-color-2: #0f0f0f;

  --light-bg-color-fallback: #ece9e6;
  --light-bg-color-1: #ece9e6;
  --light-bg-color-2: #ffffff;

  --font-color: rgb(218, 218, 218);
  --accent-color: #dcc869;
}

h1,
.h1,
h2,
.h2 {
  font-weight: 900;
  margin: 0;
  margin-bottom: 1rem;
}

h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h1,
.h1 {
  font-size: 1.75rem;
}

h2,
.h2 {
  font-size: 1.5rem;
}

,
h3,
.h3 {
  font-size: 1.25rem;
}

h4,
.h4 {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: myFirstFont;
  src: url(./ASSETS/Fonts/Helvetica\ Neue\ LT\ 43\ Light\ Extended.ttf);
}

body {
  color: var(--font-color);
  font-family: myFirstFont;
  font-size: 14px;

  background: var(--main-bg-color-fallback); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--dark-bg-color-1),
    var(--dark-bg-color-2)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--dark-bg-color-1),
    var(--dark-bg-color-2)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-light {
  color: var(--dark-bg-color-fallback);
  background: var(--light-bg-color-fallback); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--light-bg-color-1),
    var(--light-bg-color-2)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--light-bg-color-1),
    var(--light-bg-color-2)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.accent-border-bottom {
  border: none;
  border-bottom: 2px solid var(--accent-color);
}

.wrapper {
  //border: 1px solid white;

  padding: 3em 0em;
  width: 100%;
}

.inner-wrapper {
  //border: 1px solid white;

  width: 80%;
  max-width: 1500px;

  margin: 0 auto;
}

.nav-items {
  margin-top: 1.25rem;
  border-top: 2px solid var(--font-color);
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  list-style-type: none;
  text-align: center;

  display: flex;
  align-items: center;
  gap: 1em;
}

.nav-links > li {
  //border: 1px solid white;
}

.nav-logo {
  min-width: 15%;
  max-width: 100px;
}

.hero-image-wrapper {
  height: 50vh;

  background-image: url(./ASSETS/Images/pexels-pixabay-159832.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cards + .cards {
  margin-top: 1rem;
}

.cards {
  //border: 1px solid white;

  text-align: center;
  font-size: 0.75rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cards:nth-child(even) {
  flex-direction: row-reverse;
}

.cards > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 40vh;
  //border: 1px solid white;
}

.card-image-container {
  background-image: url(./ASSETS/Images/card-image-1.jpg);
  background-position: bottom;
  background-size: cover;
}

.card-description {
  background-color: rgb(146, 146, 146, 0.075);
}

.card-button,
.form-submit-button {
  margin-top: 1rem;
  padding: 0.25rem 0.5rem;
  background: none;
  color: var(--accent-color);
}

.contact > .container > .row + .row {
  margin-top: 1rem;
}

.contact > .container > .row > input + input {
  margin-left: 0.7rem;
}

.contact form input,
textarea {
  border: none;
  background: none;
  border-bottom: 1px solid black;
}

.footer {
  font-size: 0.75rem;
}

.footer .footer-middle {
  margin-top: 3rem;
  text-align: center;
}
